.pop-up-3 {
  position: fixed; 
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%; 
  min-height: 100vh;
  overflow: auto; 
  background-color: rgba(0,0,0,0.5); 
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.pop-up-content-3 {
  background-color: #212529;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  box-shadow: 0 0 10px 1px #000;
  width: 90%;
  max-width: 600px;
  color: #fff;
  border-radius: 10px;
  user-select: none;
}
.pop-up-header-3 {
margin-bottom: 20px;
}
.pop-node-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 2px;
  border-radius: 10px;
  box-shadow: 0 2px 5px 1px #000;
  width: 200px;
  text-align: center;
  margin-bottom: 20px;
  white-space: nowrap;
}
.pop-up-body-3 {
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 20px;
width: 100%;
flex-grow: 1;
}
.pop-up-all-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: none;
    padding: 0px;
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
    user-select: none;
}
.pop-up-all-3 input {
 flex-grow: 1;
}

.pop-3 {
  color: #fff;
  padding: 10px;
  border-radius: 0px;
  text-align: center;
  /* set width here */
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  white-space: nowrap;
  border-radius: 15px;
}
.pop-3:hover {
    background-color: #8ccf55;
    color: #fff;
    cursor: pointer;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  text-decoration: none;
  cursor: pointer;
}

.pop-up-footer-3 {
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
}
.pop-up-footer-3 button {
 width: 100%;
 height: 35px;
 border: none;
 border-radius: 5px;
 color: #fff;
}
.pop-up-footer-3 button:first-child  {
margin-bottom: 10px;
}
.btn-ac {
background: #198754;
border: 1px solid #198754;
}
.btn-ac:hover {
background: transparent;
color: #198754;
border: 1px solid #198754;
}
.btn-cl {
background: #dc3545;
border: 1px solid #dc3545;
}
.btn-cl:hover {
background: transparent;
color: #dc3545;
border: 1px solid #dc3545;
}
.hr-sp {
 color: #fff;
 border: 1px solid #fff;
}
.pop-up-data-3 {
 display: flex;
 flex-flow: column;
}